<form (ngSubmit)="search()">
  <mat-form-field appearance="outline" class="w-96 search-field">
    <mat-label>Search</mat-label>

    <input
      matInput
      name="search"
      type="text"
      [ngModel]="searchText()"
      (ngModelChange)="searchText.set($event)"
      placeholder="Search posts..."
    />

    @if (searchText() !== '') {
      <button mat-icon-button matSuffix type="button" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    }

    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</form>